<nav class="navbar navbar-light bg-light" style="background-color: aqua;">
    
    <a class="nav-brand" href="">
        <img width="30px" class="d-inline-block align-top" src="https://image.flaticon.com/icons/png/512/25/25231.png" alt="">
    </a>  
        
</nav>